html {
    box-sizing: border-box;
  }
  * {
    box-sizing: border-box;
  }
  *:before,
  *:after {
    box-sizing: border-box;
  }
  input:focus,
  button:focus,
  optgroup:focus,
  select:focus,
  textarea:focus {
    outline: none;
  }
  input,
  select {
    vertical-align: middle;
  }
  input[type='checkbox'],
  input[type='radio'] {
    vertical-align: text-top;
  }
  input[type='search']::-webkit-search-cancel-button {
    display: none;
  }
  input::-moz-focus-inner,
  button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  button,
  input[type='button'],
  input[type='reset'],
  input[type='submit'] {
    width: auto;
    overflow: visible;
    -webkit-appearance: button;
  }
  label[for],
  input[type='button'],
  input[type='reset'],
  input[type='submit'],
  input[type='file'],
  button {
    cursor: pointer;
  }
  p {
    margin: 0 0 20px 0;
  }
  

  .form-img {
    z-index: -1;
  }
  .form-img  img {
    width: 100%;
    display: block;
    border-radius: 0 5px 5px 0 ;
  }
  textarea {
    --background: #f2f2ec;
    --border-color: var(--foreground-color);
    --line-height: 19px;
    --padding: 12px 16px;
    --font-size: 16px;
    --border-radius: 12px;
    -webkit-appearance: none;
    outline: none;
    font-size: var(--font-size);
    line-height: var(--line-height);
    border-radius: var(--border-radius);
    padding: var(--padding);
    border: 1px solid var(--border-color);
    color: var(--foreground-color);
    background: var(--background-color); 
    transition: border 0.3s ease, color 0.3s ease, background 0.3s ease;
    width: 100%;
  }


  .form-field {
    --background: #f2f2ec;
    --border-color: var(--foreground-color);
    --line-height: 19px;
    --padding: 12px 16px;
    --font-size: 16px;
    --border-radius: 99em;
    -webkit-appearance: none;
    outline: none;
    display: block;
    font-size: var(--font-size);
    line-height: var(--line-height);
    border-radius: var(--border-radius);
    padding: var(--padding);
    border: 1px solid var(--border-color);
    color: var(--foreground-color);
    background: var(--background-color); 
    transition: border 0.3s ease, color 0.3s ease, background 0.3s ease;
    width: 100%;
  }
  .form-field:focus {
    outline: none;
  }
  .form-field:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
  textarea:hover,
  .form-field:hover {
    border-color: var(--primary-color);
    background: var(--background-color-dark); 
  }
  textarea:hover,
  .form-field:focus {
    border-color: var(--primary-color);
    background: var(--background-color-dark); 
  }
  textarea:hover,
  .form-field:active {
    border-color: var(--primary-color);
    background: var(--background-color-dark); 
  }
  .form-field::placeholder {
    color: var(--foreground-color);
  }
  .form-field:disabled {
    --background: var(--disabled);
    --color: var(--foreground-color);
  }
  .form-field:disabled::placeholder {
    color: var(--background-color-dark);
  }
  .form-field.error {
    border-color: var(--primary-color);
  }
  .form-field.sm {
    --line-height: 17px;
    --padding: 8px 12px;
    --font-size: 14px;
    --border-radius: 4px;
  }
  .form-field[type='number']::-webkit-inner-spin-button,
  .form-field[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .form-field[type='number'] {
    -moz-appearance: textfield;
  }
  .form-prefix,
  .form-suffix {
    --line-height: 19px;
    --padding: 12px 16px;
    --font-size: 16px;
    --padding-between: 8px;
    --background: #fff;
    --border-radius: 5px;
    --color: var(--text);
    --border-color: var(--border);
    display: flex;
  }
  .form-prefix > span,
  .form-suffix > span {
    display: block;
    font-weight: 500;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background: var(--background);
    padding: var(--padding);
    color: var(--color);
    font-size: var(--font-size);
    line-height: var(--line-height);
    transition: border 0.3s ease, color 0.3s ease, background 0.3s ease;
  }
  .form-prefix .form-field.sm + span,
  .form-suffix .form-field.sm + span {
    --line-height: 17px;
    --padding: 8px 12px;
    --font-size: 14px;
    --border-radius: 4px;
  }
  .form-prefix .form-field:hover + span,
  .form-suffix .form-field:hover + span {
    --border-color: var(--border-dark);
  }
  .form-prefix .form-field:focus + span,
  .form-suffix .form-field:focus + span {
    --border-color: var(--primary);
  }
  .form-prefix .form-field:disabled + span,
  .form-suffix .form-field:disabled + span {
    --background: var(--disabled);
    --color: var(--grey-light);
  }
  .form-prefix .form-field.error + span,
  .form-suffix .form-field.error + span {
    --border-color: var(--error);
  }
  .form-prefix > span {
    order: 1;
    padding-right: 0;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .form-prefix .form-field {
    order: 2;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: var(--padding-between);
  }
  .form-suffix > span {
    padding-left: 0;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-suffix .form-field {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: var(--padding-between);
  }
  .form-select {
    position: relative;
  }
  .form-select select {
    --line-height: 19px;
    --padding: 12px 16px;
    --font-size: 16px;
    --border-radius: 99em;
    -webkit-appearance: none;
    outline: none;
    display: block;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: 400;
    border-radius: var(--border-radius);
    padding: var(--padding);
    border: 1px solid var(--foreground-color);
    color: var(--foreground-color);
    background: var(--background-color);
    transition: border 0.3s ease, color 0.3s ease, background 0.3s ease;
    padding-right: 34px;
    width: 100%;
    cursor: pointer;
  }
  .form-select select:focus {
    border-color: var(--primary-color);
    background: var(--background-color-dark); 
  }
  .form-select select:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
  .form-select select:hover {
    border-color: var(--primary-color);
    background: var(--background-color-dark); 
  }
  .form-select select:focus {
    border-color: var(--primary-color);
    background: var(--background-color-dark); 
  }
  .form-select select::placeholder {
    color: var(--text-light);
  }
  .form-select select:required:invalid {
    color: var(--foreground-color);
  }
  .form-select select:disabled {
    --background: var(--disabled);
    --color: var(--grey-light);
  }
  .form-select select option[value=''][disabled] {
    display: none;
  }
  .form-select select::-ms-expand {
    display: none;
  }
  .form-select:before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 6px;
    right: 16px;
    top: 50%;
    z-index: 1;
    pointer-events: none;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L9 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  }
  .form-select.sm select {
    --line-height: 17px;
    --padding: 8px 12px;
    --font-size: 14px;
    --border-radius: 4px;
  }
  .form-select.sm:before {
    right: 12px;
    transform: translateY(-50%) scale(0.85);
  }
  .form-select.error select {
    --border-color: var(--error);
  }
  .form-element {
    position: relative;
  }
  .form-element .error-message {
    position: absolute;
    left: 0;
    font-weight: bold;
    font-size: 12px;
    color: var(--error);
  }
  .btn {
    vertical-align: middle;
    touch-action: manipulation;
    white-space: nowrap;
    min-width: 120px;
    border: solid 1px var(--foreground-color);
    width: 6rem;
    position: relative;
    border-radius: 99em;
    display: inline-block;
    text-align: center;
    padding: 0.2rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 0.5em;
    background: var(--background);
  }
  .btn-1 {
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    position: relative;
    white-space: nowrap;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    min-width: 120px;
    border-radius: 99em;
    transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease,
      opacity 0.3s ease;
    transform: translateY(var(--y)) translateZ(0);
    background: var(--primary-color);
    color: var(--background-color);
  }
  .btn:link,
  .btn:active,
  .btn:visited,
  .btn:focus {
    color: var(--foreground-color);
  }
  .btn:hover {
    color: var(--background-color);
    background-color: var(--foreground-color);
    border: 1px solid var(--foreground-color);
  }
  .btn:active {

  }

  .btn.sm {
    font-size: 14px;
    padding: 6px 16px;
    min-width: 100px;
    border-radius: 99em;
  }
  .btn.center {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
  }
  .alert {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 12px 16px;
    border-radius: 5px;
    color: var(--alert-color, #003c80);
    background: var(--alert-background, #cce4ff);
    box-shadow: inset 0 0 0 1px var(--alert-border, #b3d6ff);
  }
  :root {
    --display: block;
  }
  [class^='display--'] {
    display: none !important;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
    -webkit-text-fill-color: var(--foreground-color);
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background var(--duration) ease;
    background: var(--overlay);
  }
  @media (max-width: 575px) {
    .overlay {
      padding: 16px;
    }
  }
  /*------------------------------------------------*/
  .overlay.show {
    background: var(--overlay);
  }
  .modal {
    --scale: 0.92;
    --close: var(--grey);
    --close-bg: var(--shadow);
    --close-bg-hover: var(--shadow-dark);
    position: relative;
    z-index: 7;
    background: var(--background-color);
    max-width: 500px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--foreground-color);
    padding: 24px;
    opacity: 0;
    margin: auto;
    visibility: hidden;
    transition: opacity var(--duration) ease, transform var(--duration) ease,
      visibility var(--duration) ease;
    transform: scale(var(--scale)) translate3d(0, 0, 0);
  }
  @media (max-width: 767px) {
    .modal {
      padding: 20px;
    }
  }
  @media (max-width: 575px) {
    .modal {
      padding: 16px;
    }
  }
  .modal.show {
    --scale: 1;
    opacity: 1;
    visibility: visible;
  }
  .modal .close {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 99em;
    background: var(--foreground-color);
    cursor: pointer;
    z-index: 2;
    top: 16px;
    right: 16px;
    transition: background 0.3s ease;
  }
  .modal .close:before,
  .modal .close:after {
    --rotate: 45deg;
    content: '';
    background: var(--background-color);
    height: 12px;
    width: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 1px;
    transform: translate(-50%, -50%) rotate(var(--rotate));
  }
  .modal .close:after {
    --rotate: -45deg;
  }
  .modal .close:hover {
    background: var(--primary-color);
  }
  .modal-wrapper {
    display: none;
  }



  #fffModal .form {
    position: relative;
    margin: 0;
    padding: 32px;
  }
  @media (min-width: 768px) {
    #fffModal .form {
      grid-column: 1;
      grid-row: 1 / 3;
    }
  }
  @media (max-width: 991px) {
    #fffModal .form {
      padding: 24px;
    }
  }
  @media (max-width: 575px) {
    #fffModal .form {
      padding: 16px;
    }
  }
  #fffModal .form form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px 24px;
    height: 100%;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  @media (max-width: 575px) {
    #fffModal .form form {
      grid-template-columns: 1fr;
    }
    #fffModal .form form .appointment .fields .form-parsley:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media (min-width: 576px) {
    #fffModal .form form .firstname {
      grid-row: 1;
      grid-column: 1;
    }
    #fffModal .form form .lastname {
      grid-row: 1;
      grid-column: 2;
    }
    #fffModal .form form .appointment,
    #fffModal .form form .interest,
    #fffModal .form form small,
    #fffModal .form form button {
      grid-column: 1 / 3;
    }
    #fffModal .form form .email,
    #fffModal .form form .phone {
      grid-row: 2;
    }
    #fffModal .form form .birthday,
    #fffModal .form form .reason {
      grid-row: 3;
    }
    #fffModal .form form .interest {
      grid-row: 4;
    }
    #fffModal .form form .appointment {
      grid-row: 5;
    }
    #fffModal .form form .appointment .fields {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 20px 24px;
    }
    #fffModal .form form small {
      grid-row: 6;
    }
    #fffModal .form form button {
      grid-row: 7;
    }
  }
  #fffModal .form form small {
    font-size: 14px;
    display: block;
    color: var(--foregound-color);
  }
  #fffModal .form form small a {
    color: inherit;
    text-decoration: underline;
  }
  #fffModal .form .message {
    position: absolute;
    top: 50%;
    left: 32px;
    right: 32px;
    opacity: 0;
    transform: translateY(-8px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  #fffModal .form .message .h4 {
    margin-top: 0;
  }
  #fffModal .form .message.show {
    opacity: 1;
    transform: translateY(0);
  }
  @media (max-width: 991px) {
    #fffModal .form .message {
      left: 24px;
      right: 24px;
    }
  }
  @media (max-width: 575px) {
    #fffModal .form .message {
      left: 16px;
      right: 16px;
    }
  }
  #fffModal .form.messageShown form {
    opacity: 0;
    visibility: hidden;
  }

  @media (min-width: 768px) {
    #fffModal .list {
      grid-column: 2;
      grid-row: 2;
      border-left: 1px solid var(--foreground-color);
    }
  }

  .form-parsley {
    position: relative;
  }
  .form-parsley label {
    display: block;
    margin: 0 0 2px 0;
    font-size: 12px;
    cursor: text;
    color: var(--foreground-color);
  }
  .form-parsley label span {
    color: var(--text-light);
  }
  .form-parsley .parsley-errors-list {
    position: absolute;
    left: 0;
    z-index: 3;
    color: var(--error-form);
    font-size: 12px;
    padding: 0;
    list-style: none;
  }
  .form-parsley .parsley-errors-list li {
    white-space: nowrap;
  }
  .form-parsley .parsley-errors-list.expatempl,
  .form-parsley .parsley-errors-list.expattime {
    display: none;
    top: 48px;
  }
  .form-parsley .parsley-errors-list.expatempl li,
  .form-parsley .parsley-errors-list.expattime li {
    color: var(--purple);
  }
  .form-parsley .parsley-errors-list.expattime {
    margin-top: 4px;
  }
  .form-field.parsley-error,
  .form-select select.parsley-error {
    border-color: var(--error-form);
  }
  .form-field.parsley-success,
  .form-select select.parsley-succes {
    border-color: var(--active-form-visited);
  }
  .form-field.parsley-error + .parsley-errors-list,
  .form-select select.parsley-error + .parsley-errors-list {
    display: block;
  }
  .form-field.parsley-error:disabled + .parsley-errors-list,
  .form-select select.parsley-error:disabled + .parsley-errors-list {
    display: none;
  }
  .form-field.parsley-success + .parsley-errors-list,
  .form-select select.parsley-success + .parsley-errors-list {
    display: none;
  }
  .form-spacing {
    margin-bottom: 24px;
  }
  .form-prefix,
  .form-suffix {
    position: relative;
  }
  .form-prefix .parsley-errors-list,
  .form-suffix .parsley-errors-list {
    top: 45px;
  }
  .form-prefix .form-field.parsley-error + span,
  .form-prefix .form-field.parsley-error + .parsley-errors-list + span,
  .form-suffix .form-field.parsley-error + span,
  .form-suffix .form-field.parsley-error + .parsley-errors-list + span {
    --border-color: var(--red);
  }
  input[type='range'] {
    outline: none;
    padding: 0;
    width: 100%;
    margin: 10px 0;
    height: 4px;
    background-color: var(--border);
    background-image: linear-gradient(var(--primary), var(--primary));
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 2px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
  }
  input[type='range']::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
  }
  input[type='range']::-moz-focus-outer {
    border: 0;
  }
  input[type='range']::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
    border: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 var(--shadow-dark);
    -webkit-appearance: none;
  }
  input[type='range']::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 var(--shadow-dark);
  }
   [data-parsley-validate] [type='submit'] {
      opacity: 0.5
  }
  [data-parsley-validate].valid [type='submit'] {
      opacity: 1
  } 
  #fffModal {
    padding: 0;
    display: grid;
    max-width: 960px;
  }
  @media (min-width: 768px) {
    #fffModal {
      grid-template-rows: auto 1fr;
      grid-template-columns: 55% 45%;
    }
  }
  @media (max-width: 767px) {
    #fffModal {
      grid-template-columns: 1fr;
      margin-top: 24px;
    }
  }

  @media (min-width: 768px) {
    #fffModal .form-img {
      grid-column: 2;
      grid-row: 1;
    }
  }
  @media (max-width: 767px) {
    #fffModal .form-img img {
      border-radius: 8px 8px 0 0;
    }
  }
  #fffModal .form {
    position: relative;
    margin: 0;
    padding: 32px;
  }
  @media (min-width: 768px) {
    #fffModal .form {
      grid-column: 1;
      grid-row: 1 / 3;
    }
  }
  @media (max-width: 991px) {
    #fffModal .form {
      padding: 24px;
    }
  }
  @media (max-width: 575px) {
    #fffModal .form {
      padding: 16px;
    }
  }
  #fffModal .form form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px 24px;
    height: 100%;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  @media (max-width: 575px) {
    #fffModal .form form {
      grid-template-columns: 1fr;
    }
    #fffModal .form form .appointment .fields .form-parsley:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media (min-width: 576px) {
    #fffModal .form form .firstname {
      grid-row: 1;
      grid-column: 1;
    }
    #fffModal .form form .lastname {
      grid-row: 1;
      grid-column: 2;
    }
    #fffModal .form form .appointment,
    #fffModal .form form .interest,
    #fffModal .form form small,
    #fffModal .form form button {
      grid-column: 1 / 3;
    }
    #fffModal .form form .email,
    #fffModal .form form .phone {
      grid-row: 2;
    }
    #fffModal .form form .birthday,
    #fffModal .form form .reason {
      grid-row: 3;
    }
    #fffModal .form form .interest {
      grid-row: 4;
    }
    #fffModal .form form .appointment {
      grid-row: 5;
    }
    #fffModal .form form .appointment .fields {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 20px 24px;
    }
    #fffModal .form form small {
      grid-row: 6;
    }
    #fffModal .form form button {
      grid-row: 7;
    }
  }
  #fffModal .form form small {
    font-size: 14px;
    display: block;
    color: var(--foregound-color);
  }
  #fffModal .form form small a {
    color: inherit;
    text-decoration: underline;
  }
  #fffModal .form .message {
    position: absolute;
    top: 50%;
    left: 32px;
    right: 32px;
    opacity: 0;
    transform: translateY(-8px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  #fffModal .form .message .h4 {
    margin-top: 0;
  }
  #fffModal .form .message.show {
    opacity: 1;
    transform: translateY(0);
  }
  @media (max-width: 991px) {
    #fffModal .form .message {
      left: 24px;
      right: 24px;
    }
  }
  @media (max-width: 575px) {
    #fffModal .form .message {
      left: 16px;
      right: 16px;
    }
  }
  #fffModal .form.messageShown form {
    opacity: 0;
    visibility: hidden;
  }
  @media (min-width: 768px) {
    #fffModal .list {
      grid-column: 2;
      grid-row: 2;
      border-left: 1px solid var(--foreground-color);
    }
  }
