/* Typo Controls */

.slider1 {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .slider1:hover {
    opacity: 1;
  }
  /* SIZE */
  /* Chrome */
  .slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url("/fonts/icons/S_TextSize_Md_N@2x.svg");
    cursor: pointer;
  }
  /* Firefox */
  .slider1::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url("/fonts/icons/S_TextSize_Md_N@2x.svg");
    cursor: pointer;
  }
  /* WIDHT */
  /* Chrome */
  .slider2 {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .slider2:hover {
    opacity: 1;
  }
  .slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url("/fonts/icons/S_Width_Md_N@2x.svg");
    cursor: pointer;
  }
  /* Firefox */
  .slider2::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url("/fonts/icons/S_Width_Md_N@2x.svg");
    cursor: pointer;
  }
  
  /* Typo Controls */ /*---------------------------------------------------------------------------------------------------*/
  .controls {
    font-weight: 450;
  }
  
  #singleFile .controls {
    width: 100%;
    overflow: hidden !important;
    display: grid;
    line-height: 2em;
  }
  
  .content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(auto, auto);
  }
  
  .test {
    width: 100%;
    font-size: 200pt;
    line-height: 200pt;
    letter-spacing: -20pt;
    min-height: 30px;
    background-color: transparent;
    height: auto;
    outline: none;
    border: none;
    box-sizing: border-box;
    word-break: break-word;
    white-space: normal;
  }
  
  .input {
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    background: var(--background-color);
    color: var(--foreground-color);
  }
  
  #singleFile .ccs-row {
    display: grid;
    grid-template-columns: 196px 196px auto;
  }
  
  #singleFile input[type="text"] {
    font-size: 230px;
    font-weight: 800;
    border: 0px;
    height: 375px;
    font-weight: 800;
    font-variation-settings: "MONO" 1, "CASL" 0, "slnt" 0, "CRSV" 0, "wght" 800;
    text-align: center;
    width: 100%;
  }
  
  #singleFile input[type="text"]:focus {
    outline: none;
  }
  
  #singleFile input[type="range"] {
    -webkit-appearance: none;
    margin: calc(1em - var(--thumbTouchHeight) / 2);
    margin-left: calc(-1 * var(--thumbTouchHeight) / 2);
    margin-right: calc(-1 * var(--thumbTouchHeight) / 2);
    width: calc(100% + var(--thumbTouchHeight) / 2);
    max-width: 400px;
    background: transparent;
  }
  
  #singleFile input[type="range"]:focus {
    outline: none;
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  
  #singleFile input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--trackHeight);
    cursor: pointer;
    background: transparent;
    background-image: linear-gradient(
        to right,
        transparent,
        transparent calc(var(--thumbTouchHeight) / 2),
        var(--trackBg) calc(var(--thumbTouchHeight) / 2),
        var(--trackBg) 50%,
        transparent 50%
      ),
      linear-gradient(
        to left,
        transparent,
        transparent calc(var(--thumbTouchHeight) / 2),
        var(--trackBg) calc(var(--thumbTouchHeight) / 2),
        var(--trackBg) 50%,
        transparent 50%
      );
    border-radius: 1px;
  }
  
  #singleFile input[type="range"]:focus::-webkit-slider-runnable-track {
    outline: none;
    background-image: linear-gradient(
        to right,
        transparent,
        transparent calc(var(--thumbTouchHeight) / 2),
        var(--trackFocus) calc(var(--thumbTouchHeight) / 2),
        var(--trackFocus) 50%,
        transparent 50%
      ),
      linear-gradient(
        to left,
        transparent,
        transparent calc(var(--thumbTouchHeight) / 2),
        var(--trackFocus) calc(var(--thumbTouchHeight) / 2),
        var(--trackFocus) 50%,
        transparent 50%
      );
  }
  
  #singleFile input[type="range"]::-webkit-slider-thumb {
    height: var(--thumbTouchHeight);
    width: var(--thumbTouchHeight);
    border-radius: var(--thumbTouchHeight);
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: calc(
      -1 * (var(--thumbTouchHeight) / 2) + (var(--trackHeight) / 2)
    );
    background: none;
    background-image: radial-gradient(
      var(--thumbBg) calc(var(--thumbHeight) / 2),
      transparent calc(var(--thumbHeight) / 2),
      transparent
    );
  }
  
  #singleFile input[type="range"]::-moz-range-track {
    width: 100%;
    height: var(--trackHeight);
    border-radius: 1px;
    cursor: pointer;
    background-color: red;
    background-image: linear-gradient(
        to right,
        var(--sliderComponentBg),
        var(--sliderComponentBg) 20px,
        var(--trackBg) 20px,
        var(--trackBg) 50%,
        transparent 50%
      ),
      linear-gradient(
        to left,
        var(--sliderComponentBg),
        var(--sliderComponentBg) 20px,
        var(--trackBg) 20px,
        var(--trackBg) 50%,
        transparent 50%
      );
  }
  
  #singleFile input[type="range"]:focus::-moz-range-track {
    background-image: linear-gradient(
        to right,
        var(--sliderComponentBg),
        var(--sliderComponentBg) 20px,
        var(--trackFocus) 20px,
        var(--trackFocus) 50%,
        transparent 50%
      ),
      linear-gradient(
        to left,
        var(--sliderComponentBg),
        var(--sliderComponentBg) 20px,
        var(--trackFocus) 20px,
        var(--trackFocus) 50%,
        transparent 50%
      );
  }
  
  #singleFile input[type="range"]::-moz-focus-outer {
    border: 0;
  }
  
  #singleFile input[type="range"]::-moz-range-thumb {
    height: var(--thumbTouchHeight);
    width: var(--thumbTouchHeight);
    border: none;
    border-radius: var(--thumbTouchHeight);
    background: none;
    background-image: radial-gradient(
      var(--thumbBg) calc(var(--thumbHeight) / 2),
      transparent calc(var(--thumbHeight) / 2),
      transparent
    );
    cursor: pointer;
  }
  
  #singleFile input[type="range"]::-ms-track {
    width: calc(100%- var(--thumbTouchHeight));
    margin-left: calc(var(--thumbTouchHeight) / 2);
    height: var(--trackHeight);
    cursor: pointer;
  }
  
  #singleFile input[type="range"]::-ms-fill-lower {
    background-color: #777;
  }
  
  #singleFile input[type="range"]::-ms-fill-upper {
    background: #777;
  }
  
  #singleFile input[type="range"]::-ms-thumb {
    width: var(--thumbHeight);
    margin-left: calc(var(--thumbTouchHeight) / 2);
    margin-right: calc(var(--thumbTouchHeight) / 2);
    border-radius: 999px;
    background-color: #222;
    cursor: pointer;
  }
  
  /* TYPEVIEWER*/ /*---------------------------------------------------------------------------------------------------*/
  input {
    overflow: visible;
  }
  
  [hidden] {
    display: none !important;
  }
  
  .d-none {
    display: none !important;
  }
  
  .d-inline-block {
    display: inline-block !important;
  }
  
  @media (min-width: 768px) {
    .d-md-none {
      display: none !important;
    }
    .d-md-inline {
      display: inline !important;
    }
    .d-md-block {
      display: block !important;
    }
  }
  
  .visible {
    visibility: visible !important;
  }
  
  #singleFile * {
    overflow: visible !important;
  }
  
  #singleFile input[type="text"] {
    font-size: 230px;
    font-weight: 800;
    border: 0px;
    height: 375px;
    font-weight: 800;
    font-variation-settings: "MONO" 1, "CASL" 0, "slnt" 0, "CRSV" 0, "wght" 800;
    text-align: center;
    width: 100%;
  }
  
  #singleFile input[type="range"]:focus::-ms-fill-lower {
    background: blue;
  }
  
  #singleFile input[type="range"]:focus::-ms-fill-upper {
    background: blue;
  }
  
  #singleFile .controls .css {
    width: 200px;
  }
  
  #singleFile .controls .css,
  #singleFile .controls .inputs {
    display: inline-block;
  }
  
  #singleFile .controls .inputs {
    position: relative;
    top: -4px;
    margin-right: 40px;
  }
  
  #singleFile .controls .radio {
    border: 1px solid #bdbdbd;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    display: inline-block;
    cursor: pointer;
  }
  
  #singleFile .controls .radio.active {
    background-color: #bdbdbd;
  }
  
  #singleFile .controls ul {
    list-style-type: none;
  }
  
  #singleFile .controls span.comment:not(.not-aligned) {
    position: absolute;
    left: 500px;
  }
  
  #singleFile .controls span.comment {
    color: #858585;
  }