:root {
  --fontSize: 14px;
  --sansFont: "neue-haas-unica";
  --monoFont: "iaw-mono";
  --lineHeight: calc(var(--fontSize) * 1.5);
  --baseline: calc(var(--lineHeight) / 2);
  --blockSpacingTop: 0px;
  --blockSpacingBottom: var(--lineHeight);
  --hrThickness: 1px;
  --h1-size: 2.8rem;
  --h2-size: 2.2rem;
  --h3-size: 1.4rem;
  --h4-size: 1.1rem;
  --columnGap: calc(var(--lineHeight) * 2);
  --rowGap: var(--lineHeight);
  --displayScale: 1;
  --pixel: 1px;
  --foreground-color-rgb: 0, 0, 0;
  --foreground-color: rgba( var(--foreground-color-rgb));
  --background-color: #F2F2EC;
  --trackBg: #bdbdbd;
    --trackFocus: #cacaca;
    --thumbBg: #666;
    --trackHeight: 1px;
    --thumbHeight: 12px;
    --thumbTouchHeight: 48px;
    --sliderToggleComponentBg: #f4f4f4;
}
@supports (font-variation-settings: normal) {
  :root {
    --sansFont: "neue-haas-unica";
    --monoFont: "iaw-mono-var";
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx) {
  :root {
    --displayScale: 2;
    --pixel: 0.5px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2.5),
  only screen and (min-device-pixel-ratio: 2.5),
  only screen and (min-resolution: 2.5dppx) {
  :root {
    --displayScale: 3;
    --pixel: 0.34px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3.5),
  only screen and (min-device-pixel-ratio: 3.5),
  only screen and (min-resolution: 3.5dppx) {
  :root {
    --displayScale: 4;
    --pixel: 0.25px;
  }
}

* {
  font: inherit;
  line-height: inherit;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
footer,
form,
grid,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
noscript,
object,
ol,
output,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
figure,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
a,
a:active,
a:visited {
  color: inherit;
}


/* document */
html {
  font-family: var(--sansFont), -system-ui, system-ui, sans-serif;
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  background: var(--background-color);
  color: var(--foreground-color);
  letter-spacing: -0.01em;
  text-size-adjust: 100%;
  font-variant-ligatures: contextual common-ligatures;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "cv10" 1;
  /* G */
}

body {
  transition: .4s;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: calc(var(--lineHeight) * 2);
  padding-bottom: calc(var(--lineHeight) * 3);
  padding-top: var(--lineHeight);
  
}


main {
  min-height: calc(100vh - 350px)
}

 @media only screen and (max-width: 600px) {
  body {
    padding: var(--lineHeight);
    padding-bottom: calc(var(--lineHeight)*2);
  }
  main {
    min-height: calc(100vh - 200px)
  }

}
