#index {
  padding: 1em 0 0;
}

nav.categories {
  border-bottom: 1px solid var(--foreground-color);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: var(--rowGap);
  align-items: baseline;
  p {
    margin: 0;
  }
  ul {
    margin: 0;
  }
}

nav.categories>*:first-child {
  display: grid;
  justify-content: start;
  align-items: baseline;
}
.categoriesPills {   
  display: grid;
  justify-content: center;
  align-items: baseline;
  grid-area: 1 / 3 / 1 / 7;
  grid-auto-flow: column;
 }

.categories li {
  display: inline-flex;
}

.categories li.active .category-button {
  background-color: var(--foreground-color);
  color: var(--background-color);
  border-color: var(--foreground-color);
}

.categories .category-button {
  border: 1px solid var(--foreground-color);
  border-radius: 99em;
  padding: 0 0.8em;
  line-height: 1.5em;
  transition: all 0.2s;
}

.categories-title {
  display: inline-block;
  margin-right: 25px;
  padding: 10px 0
}

.categories-title span,
.categories-title svg {
  display: inline-block
}

.categories-title span {
  margin-right: .25em
}

.post {
  clear: both;
  position: relative;
  overflow: hidden;
  height: 5rem;
  transition: height 0.5s ease-out;
}


.post:after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--foreground-color);
  bottom: 0;
}

.close-post:after {
  content: '';
  margin-left: 4px;
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url('/images/icons/close.svg') center no-repeat;
  background-size: contain
}

.post.hide {
  display: none
}

.post.toggle {
  transition: height .5s ease-in
}

.post.toggle .post-header .post-thumbnail {
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s 0s, visibility 0s .2s
}

.post-toggled .post-header .post-thumbnail {
  visibility: hidden !important;
  opacity: 0 !important
}

.long-title .post-header {
  position: relative
}

.long-title .post-header:before {
  transition: opacity .2s
}

.long-title .post-header:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 55px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#fff));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff)
}

.long-title .post-content {
  padding-top: 20px
}

.toggle.long-title .post-title {
  white-space: initial
}

.toggle.long-title .post-header {
  line-height: 24px;
  padding: 15px 0 20px
}

.toggle.long-title .post-header:before {
  opacity: 0
}

.post-header {
  display: grid;
  grid-column-gap: 10px;
  align-items: center;
  grid-row-gap: var(--rowGap);
  grid-template-columns: repeat(8, 1fr);
  overflow: hidden;
  height: 5em;
  .post-meta {
  border-radius: 99em;
  padding: 0 0.2em;
  background: var(--foreground-color);
  color: var(--background-color);
  }
  svg {
  cursor: pointer;
  transition: transform 0.2s ease;
  width: 2rem;
  } 
}

.post-header svg.open {
  transform: rotate(45deg);
}


.post-title {
  display: grid;
  grid-area: 1 / 1 / 1 / 5;
  justify-content: start;
  align-content: center;
  margin: 0;
}

.postMeta-information {
  grid-area: 1 / 6 / 1 / 8;
  align-content: center;
  display: grid;
  grid-auto-flow: column;
  justify-self: end;
}
#open-work { 
  grid-area: 1 / 8 / 1 / 9;
  justify-self: end;
  .st0plus {
    fill: none;
    stroke: var(--foreground-color);
    stroke-linecap: round;
    stroke-width: 4px;
  }
}

.post-content {
  padding: calc(var(--lineHeight) * 1) 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: min-content 1fr;
  grid-column-gap: 10px;
  align-items: end;
  grid-row-gap: var(--rowGap);
}
.workDescription{
  grid-area: 1 / 2 / 1 / 4;
}
.workImages {
  grid-area: 1 / 5 / 3 / 9;
}
.workSubpageLink {
  grid-area: 2 / 2 / 2 / 3;
  align-self: start;
  justify-self: end;
  a {
    margin: 0;
  }
}
button.close-post {
  grid-area: 2 / 1 / 2 / 2;
  align-self: end;
  justify-self: start;
}


button {
  background: 0 0;
  border: 0;
  outline: 0;
  color: var(--foreground-color);
}

.slider {
  width: 100%;
}

.slider__next,
.slider__prev {
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: 1000;
  top: 0;
}

.slider__next {
  right: 0;
  cursor: e-resize;
}

.slider__prev {
  cursor: w-resize;
}

.slick-slider {
  position: relative;
  display: grid;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  height: 100%;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

//  .slick-slide img {
//    display: flex !important;
//  }

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: grid;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

// .post-gallery {
//   padding: 20px 126px 40px;
//   max-width: calc(100% - 252px)
// }

// .post-gallery img,
// .post-gallery video {
//   display: block;
//   width: 100%
// }

// .post-gallery video[poster] {
//   -o-object-fit: cover;
//   object-fit: cover
// }

// .slider-wrapper,
// .video-wrapper {
//   max-width: 664px
// }

// .video-wrapper {
//   margin-bottom: 40px
// }

// .slider-wrapper {
//   position: relative
// }

// .slider {
//   position: relative;
//   text-align: center
// }

// .slider img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   opacity: 0;
//   display: block;
//   width: 100%;
//   height: auto;
//   -webkit-transition: opacity .5s;
//   transition: opacity .5s
// }

// .slider img.active {
//   position: relative;
//   z-index: 2;
//   opacity: 1
// }

// .slider-control {
//   position: absolute;
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   transform: translateY(-50%);
//   display: block;
//   width: 50px;
//   height: 50px;
//   background-size: 21px 11px;
//   background-position: center center;
//   background-repeat: no-repeat;
//   overflow: hidden;
//   text-indent: -999px
// }

// .arrow-left {
//   left: -140px;
// }

// .arrow-right {
//   right: -140px;
// }

// .current-indicator {
//   position: absolute;
//   left: 50%;
//   bottom: 20px;
//   -webkit-transform: translateX(-50%);
//   transform: translateX(-50%);
//   z-index: 3;
//   display: -webkit-box;
//   display: flex
// }

// .current-indicator li {
//   display: block;
//   width: 20px;
//   height: 1px;
//   margin: 2.5px;
//   overflow: hidden;
//   text-indent: -9999px;
//   opacity: .7;
//   background-color: #fff
// }

// .current-indicator li.active {
//   opacity: 1;
//   background-color: #0e4ff4
// }

// .close-post {
//   position: absolute;
//   left: 40px;
//   bottom: 27px;
//   padding: 10px 0
// }

// .close-post:after {
//   content: '';
//   margin-left: 4px;
//   display: inline-block;
//   width: 11px;
//   height: 11px;
//   background: url('/images/icons/close.svg') center no-repeat;
//   background-size: contain
// }

// .post-video {
//   position: relative;
//   display: inline-block;
//   margin-bottom: 1.3333em
// }

// .post-video video {
//   display: block
// }

// .post-video[data-state=not-init] .vid-controls {
//   visibility: hidden;
//   opacity: 0
// }

// .post-video[data-state=initialized] .intro-play {
//   opacity: 0;
//   visibility: hidden;
//   -webkit-filter: blur(2vw);
//   filter: blur(2vw);
//   -webkit-transition: opacity .5s, visibility 0s .5s, -webkit-filter .5s;
//   transition: opacity .5s, visibility 0s .5s, -webkit-filter .5s;
//   transition: filter .5s, opacity .5s, visibility 0s .5s;
//   transition: filter .5s, opacity .5s, visibility 0s .5s, -webkit-filter .5s
// }

// .post-video[data-controls=false] .vid-controls {
//   display: none
// }

// .post-video[data-fullscreen=cancel-fullscreen] video {
//   display: block;
//   width: 100%;
//   height: 100%
// }

// .post-video.default-video .vid-controls {
//   display: none
// }

// .post-video:hover .vid-controls {
//   opacity: 1
// }

// .touch-device .vid-controls {
//   display: none !important
// }

// .toggle .intro-play {
//   opacity: 1;
//   -webkit-transition: opacity 0s;
//   transition: opacity 0s
// }

// .intro-play {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   opacity: 0;
//   -webkit-transition: opacity 0s .75s;
//   transition: opacity 0s .75s
// }

// .intro-play span {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
//   display: block;
//   width: 76px;
//   line-height: 76px;
//   border-radius: 50%;
//   color: #fff;
//   background-color: #0e4ff4;
//   font-size: 16px
// }

// .vid-controls {
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   opacity: 0;
//   -webkit-transition: opacity .2s;
//   transition: opacity .2s
// }

// .vid-icon {
//   position: absolute;
//   bottom: 2px;
//   padding: 10px 0;
//   color: #0e4ff4;
//   font-size: 16px;
//   background-repeat: no-repeat;
//   background-position: center center
// }

// .vid-playpause {
//   left: 20px
// }

// .vid-mute {
//   right: 48px
// }

// .vid-mute:after {
//   content: '';
//   display: block;
//   width: 100%;
//   height: 2px;
//   position: absolute;
//   left: 0;
//   top: calc(50% - 0px);
//   background-color: #0e4ff4
// }

// .vid-mute[data-state=unmute]:after {
//   display: none
// }

// .vid-fullscreen {
//   background-image: url('/images/icons/fullscreen.svg');
//   right: 21px;
//   bottom: 16px;
//   display: block;
//   width: 13px;
//   height: 13px;
//   text-indent: -999px;
//   overflow: hidden
// }

// [data-fullscreen=cancel-fullscreen] .vid-fullscreen {
//   background-image: url('/images/icons/minimize.svg')
// }

// [data-fullscreen=go-fullscreen] .vid-fullscreen {
//   background-image: url('/images/icons/fullscreen.svg')
// }

// .vid-progress-wrap {
//   height: 20px;
//   width: calc(100% - 40px);
//   position: absolute;
//   left: 20px;
//   bottom: 35px;
//   overflow: hidden
// }

// .vid-progress-bar {
//   width: 0%;
//   float: left;
//   height: 3px;
//   background-color: #0e4ff4;
//   margin-top: 8px;
//   position: relative
// }

// .vid-progress-bar:after {
//   content: '';
//   display: block;
//   height: 3px;
//   width: 100vw;
//   position: absolute;
//   right: -100vw;
//   top: 0;
//   background-color: rgba(255, 255, 255, .25)
// }

  .jslghtbx {
    overflow: auto;
    visibility: hidden;
    position: fixed;
    z-index: 12;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
  }

  .jslghtbx.jslghtbx-active {
    visibility: visible;
    background-color: rgba(255, 255, 255, .6)
  }

  .jslghtbx-loading-animation {
    margin-top: -60px;
    margin-left: -60px;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    display: none;
    position: absolute;
    z-index: -1
  }

  .jslghtbx-loading-animation>span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 5px;
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out
  }

  .jslghtbx-loading-animation>span.jslghtbx-active {
    margin-bottom: 60px
  }

  .jslghtbx-nooverflow {
    overflow: hidden !important
  }

  .jslghtbx-contentwrapper {
    margin: auto;
    visibility: hidden
  }

  .jslghtbx-contentwrapper>img {
    display: none;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 0
  }

  .jslghtbx-contentwrapper.jslghtbx-wrapper-active {
    visibility: visible
  }

  .jslghtbx-contentwrapper.jslghtbx-wrapper-active>img {
    display: block;
    opacity: 1
  }

  .jslghtbx-active .jslghtbx-caption {
    display: block;
    position: fixed;
    top: 26px;
    left: 40px;
    font-size: 20px;
    z-index: 13
  }

  .jslghtbx-contentwrapper.jslghtbx-animate>img {
    opacity: 0
  }

  .jslghtbx-contentwrapper>img.jslghtbx-animate-transition {
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out
  }

  .jslghtbx-contentwrapper>img.jslghtbx-animating-next {
    opacity: 1
  }

  .jslghtbx-contentwrapper>img.jslghtbx-animating-prev {
    opacity: 1
  }

  .jslghtbx-contentwrapper>img.jslghtbx-animate-init {
    opacity: 1
  }

  .jslghtbx-contentwrapper>img.jslghtbx-animate-transition {
    cursor: url('/images/dot-hover.svg'), auto
  }

  .jslghtbx-close {
    position: fixed;
    top: 16px;
    right: 30px;
    background: url('/images/icons/close.svg') calc(100% - 10px) center no-repeat;
    background-size: 11px 11px;
    padding: 10px 30px 10px 10px;
    cursor: url('/images/dot-hover.svg'), auto
  }

  .jslghtbx-next,
  .jslghtbx-prev {
    display: none;
    position: fixed;
    top: calc(50% - 30px) !important;
    width: 101px;
    height: 60px;
    cursor: url('/images/dot-hover.svg'), auto;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out
  }

  .jslghtbx-next.jslghtbx-active,
  .jslghtbx-prev.jslghtbx-active {
    display: block
  }

  .jslghtbx-next {
    right: 0;
    background: url('/images/icons/arrow-slider-r.svg') center no-repeat
  }

  .jslghtbx-prev {
    left: 0;
    background: url('/images/icons/arrow-slider-l.svg') center no-repeat
  }




  @media (min-width: 320px) and (max-width: 1150px) {
    .post-header {
      grid-column-gap: 10px;
      grid-template-columns: repeat(4, 1fr);
    }
    h1.postHeading {
      grid-area: 1 / 1 / 1 / 2;
      font-size: var(--h2-size);
      white-space: nowrap;
    }
    .postCategorie {
      grid-area: 1 / 3 / 1 / 4;
      justify-self: start;
    }
    #open-work { 
      grid-area: 1 / 4 / 1 / 5;
      justify-self: end;
    }
    .post-content {
      padding: calc(var(--lineHeight) * 1) 0;
      grid-template-columns: repeat(4, 1fr);
    }
    .workDescription{
      grid-area: 1 / 1 / 1 / 3;
    }
    .workImages {
      grid-area: 1 / 3 / 3 / 5;
    }
    .workSubpageLink {
      grid-area: 2 / 1 / 2 / 2;
      align-self: start;
      a {
        margin: 0;
      }
    }
  
  }

    @media only screen and (max-width: 720px) {
      .post-header {
        a.categoriePill {
          display: none;
        }
      }
      .post-content {
        padding: calc(var(--lineHeight) * 1) 0;
        grid-template-columns: repeat(2, 1fr);
      }
      .workSubpageLink {
        grid-area: 3 / 1 / 3 / 2;
        align-self: start;
        a {
          margin: 0;
        }
      } 
      .workDescription{
        grid-area:  2 / 1 / 2 / 3;
      }
      .workImages {
        grid-area: 1 / 1 / 1 / 3;
      } 
    }




