
/* CSS-GRID-DESKTOP */ /*---------------------------------------------------------------------------------------------------*/

.headline {
    grid-area: 1 / 1 / 1 / 7;
  }
  
  .invert {
    grid-area: 1 / 7 / 1 / 9;
  }
  
  .controls {
    grid-area: 3/ 5 / 3 / 9;
  }
  
  .type-viewer {
    grid-area: 2 / 1 / 2 / 9;
  }
  
  .work-headline {
    grid-area: 1 / 5 / 1 / 9;
  }
  
  hr {
    grid-area: 4 / 1 / 4 / 9;
  }
  
  .work-text {
    grid-area: 2 / 5 / 2 / 9;
  }
  
  .typo-text {
    grid-area: 5 / 5 / 5 / 9;
  }
  
  .work-content {
    grid-area: 1 / 1 / 4 / 5;
  }
  
  .introduction {
    grid-area: 2 / 1 / 2 / 3;
  }
  
  .sub-headline {
    grid-area: 2 / 5 / 2 / 5;
  }
  
  .sub-headline-2 {
    grid-area: 2 / 7 / 2 / 9;
  }
  
  img,
  .slider,
  .swiper-wrapper,
  .swiper-container {
    grid-area: 3 / 2 / 3 / 5;
    width: 100%;
    height: auto;
  }


  /* REPO-1 */ /*---------------------------------------------------------------------------------------------------*/

  @media (max-width: 991.98px) {
    #singleFile input#controls-result {
      min-height: 200px !important;
      height: 350px;
      font-size: 300px;
      overflow: auto !important;
    }
    #singleFile input[type="text"] {
      height: 200px;
      font-size: 300px;
    }
  }
  
  @media (max-width: 750px) {
    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
    }
    .headline {
      grid-area: 1 / 1 / 1 / 3;
    }
    .invert {
      grid-area: 2 / 1 / 2 / 3;
    }
  
    .introduction {
      grid-area: 3 / 1 / 3 / 3;
    }
  
    .sub-headline {
      grid-area: 4 / 2 / 4 / 2;
    }
  
    .sub-headline-2 {
      grid-area: 4 / 1 / 4 / 1;
    }
  
    hr {
      grid-area: 5 / 1 / 5 / 3;
    }
  
    .work-headline {
      grid-area: 1 / 1 / 1 / 3;
    }
  
    .work-text {
      grid-area: 2 / 1 / 2 / 3;
    }
  
    .work-content,
    .slider,
    .img {
      grid-area: 3 / 1 / 3 / 3;
    }
  
    .typo-text {
      grid-area: 2 / 1 / 2 / 3;
    }
  
    .type-viewer {
      grid-area: 3 / 1 / 3 / 3;
    }
  
    .controls,
    #singleFile {
      grid-area: 4 / 1 / 4 / 3;
    }
  
    .work-content {
      min-width: 75%;
    }
  }
  /* REPO-2 */ /*---------------------------------------------------------------------------------------------------*/
  
  @media only screen and (max-width: 600px) {
    body {
      padding: var(--lineHeight);
      padding-bottom: calc(var(--lineHeight) * 2);
    }
  }
  
  @media (max-width: 767.98px) {
    #THREE .lines {
      display: none;
    }
    .collapse {
      padding: 10px 0px 8px 0px;
      border-top: 1px solid white;
    }
  
    html {
      font-size: 15px;
    }
    * {
      overflow: inherit;
    }
  }
  
  @media (max-width: 500px) {
    .hidden--sm {
      display: none !important;
    }
  }
  
  @media (max-width: 500px) {
    #singleFile .ccs-row {
      /* grid-template-columns: calc(40vw - var(--padding-unit)) calc(65vw - var(--padding-unit)); */
      grid-template-columns: 35vw calc(65vw - var(--padding-unit));
      column-gap: 0;
      margin-left: 15px;
    }
  }
  
  @media (max-width: 500px) {
    #singleFile #controls-result {
      padding: calc(var(--padding-unit) * 0.9);
      padding-right: 0;
    }
  }
  
  @media (max-width: 500px) {
    #singleFile .controls .inputs {
      width: 100%;
      max-width: none;
      top: -0.25rem;
      position: relative;
    }
  }
  
  @media (max-width: 500px) {
    #singleFile .controls li {
      margin: 5px 0;
      display: grid;
      grid-template-columns: 45% 55%;
    }
  }
  
  @media (max-width: 500px) {
    #singleFile .controls .radio {
      width: 20px;
      height: 20px;
      position: relative;
      top: 6px;
    }
  }
  @media (max-width: 500px) {
    #singleFile .controls {
      padding: var(--padding-unit);
    }
  }
  
  #singleFile #controls-result {
    background: transparent;
    -size: 12vw;
    -weight: 800;
    line-height: 1.125;
    border: 0px;
    min-height: 50vh;
    -weight: 800;
    -family: "Inter.var", sans-serif;
    -variation-settings: "MONO" 0.01, "CASL" 0.01, "slnt" 0, "CRSV" 0, "wght" 800;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    display: grid;
    align-content: center;
    overflow-x: auto;
    max-width: 100vw;
  }
  
  #singleFile fieldset {
    border: none;
    padding: 0;
  }
  
  #singleFile input[type="radio"] {
    margin: 0;
  }
  
  #singleFile .controls .css,
  #singleFile .controls .inputs {
    display: inline-block;
  }
  
  #singleFile .controls .inputs {
    width: 100%;
  }
  
  #singleFile .controls .radio {
    border: 1px solid #bdbdbd;
    width: 12px;
    height: 12px;
    border-radius: 999px;
    display: inline-block;
    cursor: pointer;
  }
  
  #singleFile .controls .radio.active {
    background-color: #bdbdbd;
  }
  
  #singleFile .controls ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  #singleFile .controls li {
    display: block;
  }
  
  #singleFile .controls .property {
    color: #c2404c;
  }
  
  #singleFile .controls .custom-prop {
    color: #1fa87a;
  }
  
  #singleFile .controls .value {
    color: #494949;
  }
  
  #singleFile .controls .string {
    color: #0050ff;
  }
  
  #singleFile .controls span.comment {
    -variation-settings: "MONO" 1, "slnt" -12, "CRSV" 1;
    color: #858585;
  }
  
  @media (max-width: 1150px) {
    #singleFile .controls span.comment {
      display: none !important;
    }
  }
  
