@charset "UTF-8";


@import
  'base/normalize',
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';


@import
  'base/base',
  'base/typography';


@import
  'components/slider',
  'components/typeview';

  @import
  'layout/css-grid';

